<mat-card appearance="raised">
    <mat-card-header>
        <mat-card-title>Map</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="imgData">
            <img class="img-responsive" src="{{imgData}}" id="dogMap" (click)="getPixelCoordinates($event)" ismap draggable="false">
        </ng-container>
        <ng-container *ngIf="!imgData">
            <p>Please add the Map for the Big Dog Robot through Settings.</p>
        </ng-container>
    </mat-card-content>
</mat-card>
