<mat-toolbar>
    <mat-toolbar-row style="height: 50px !important; padding-top: 15px;">
        <button mat-button style="height:50px; font-size: 15px;" (click)="setRobotActive()"> Robot Settings </button>
        <button mat-button style="height:50px; font-size: 15px;" (click)="setUserActive()"> User Settings </button>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="robotTab">
    <app-robot-settings></app-robot-settings>
</div>
<div *ngIf="!robotTab">
    <app-user-settings></app-user-settings>
</div>


