<mat-card style="width: fit-content; height: fit-content; margin: 50px;">
    <form>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    <mat-form-field floatLabel="always" style="margin-top: -10px;">
                        <mat-label>Robot Name</mat-label><input matInput name="robotName" [(ngModel)]="RobotName" readonly={{readonly}} (input)="formNowDirty()">
                    </mat-form-field>
                </mat-card-title>
                <span class="fill-remaining-space"></span>
                <span>
                    <ng-container *ngIf="readonly">
                        <button mat-icon-button type="button" (click)="updateData()"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button>
                    </ng-container>
                    <ng-container *ngIf="!readonly">
                        <button mat-icon-button type="button" (click)="updateData()"><fa-icon [icon]="['fas', 'floppy-disk']"></fa-icon></button>
                    </ng-container>
                    <button mat-icon-button (click)="deleteRobot()"type="button"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
                </span>
            </mat-card-title-group>
        </mat-card-header>
        <mat-divider inset style="margin-left:0px; margin-top: 10px;"></mat-divider>
        <mat-card-content class="cardData" style="text-align:center; margin-top: 25px;">
            <p>
                <mat-form-field floatLabel="always" style="margin-top: -10px;">
                    <mat-label>Big Dog IP address</mat-label><input matInput name="dogIP" [(ngModel)]="BigDogIP" readonly={{readonly}} (input)="formNowDirty()">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field floatLabel="always" style="margin-top: -10px;">
                    <mat-label>Arm IP address</mat-label><input matInput name="handIP" [(ngModel)]="ArmIP" readonly={{readonly}} (input)="formNowDirty()">
                </mat-form-field>
            </p>
            <p style="margin-top: -10px; margin-left: -125px;"><label>Big Dog Map</label></p>
            <p><input type="file" style="margin-left: 15px;" [(ngModel)]="imageFile" name="imageInput" id="fileInput" (change)="onFileSelected($event)"></p>
        </mat-card-content>
    </form>
</mat-card>